<% provide(:title, 'Edição') %>

<h1>Periódico</h1>

<table class="table table-striped table-bordered table-condensed" style="width: 100%">
  <tbody>     
    <tr>
      <td class="text-center" style="width: 12%">Periódico</td>
      <td><%= @journal.j_name %></td>
    <tr/>
  </tbody>
</table>
 
<div class="row">
  <div class="col-md-3">
<%= link_to 'Editar este periódico', edit_journal_path(@journal), :class => 'btn btn-primary btn-sm btn-block'%>
  </div>
  <div class="col-md-3">
    <% if current_user.admin? && !current_user?(@users) %>
      <%= link_to 'Remover este Periódico', @journal, :class => 'btn btn-danger btn-sm btn-block',  method: :delete, data: { confirm: 'Você tem certeza que deseja remover permanentemente este periódico e todas as edições e artigos a ele vinculadas?'} %>
    <% else %>
      <%= link_to 'Remover este Periódico', @journal, :class => 'btn btn-danger btn-sm btn-block disabled',  method: :delete, data: { confirm: 'Você tem certeza que deseja remover permanentemente este periódico e todas as edições e artigos a ele vinculadas?'} %>
    <% end %>
  </div>
  <div class="col-md-3">
<%= link_to 'Voltar', journals_path, :class => 'btn btn-default btn-sm'%>
  </div>
</div>

<br><br>

<h1>Edições deste periódico</h1>

<table class="table table-striped table-bordered table-condensed" style="width: 100%">
  <thead>
    <tr>
      <th class="text-center" style="width: 70%">Edição</th>
      <th class="text-center">Ano da Edição</th>
    </tr>
  </thead>

  <tbody>
    <% @editions.each do |edition| %>
      <tr>        
        <td><%= link_to edition.e_name, edition_articles_path(edition.id) %></td>
        <td><%= edition.e_date.year %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="row">
  <div class="col-md-3">
    <%= link_to 'Criar uma nova Edição', new_journal_edition_path(@journal), :class => 'btn btn-primary btn-sm btn-block'  %>
  </div>
</div>